.NavbarItems {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem auto;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 1.5rem;
  list-style: none;
  justify-content: end;
  margin: 0 auto 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #aaa;
}
.nav-menu li {
  margin: 0 auto;
}
.nav-links {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.nav-links-clicked {
  color: white;
  background-color: #3cc6f4;
  text-decoration: none;
}

.nav-links:hover {
  color: white;
  background-color: #3cc6f4;
  text-decoration: none;
}
