.NavbarItems {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  margin: 1rem auto;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 2.5rem;
  list-style: none;
  justify-content: end;
  padding-top: 1rem;
  font-size: 1.6rem;
}

.nav-links {
  text-decoration: none;
  padding: 1rem;
  border-radius: 0.8rem;
}

.nav-links-clicked {
  color: white;
  background-color: #3cc6f4;
  text-decoration: none;
}

.nav-links:hover {
  color: white;
  background-color: #3cc6f4;
  text-decoration: none;
}
