.NavbarItems {
  background: #f4f4f4;
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 1.2rem;
  width: 75%;
  text-align: left;
  margin-left: 25%;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 50px;
  list-style: none;
  text-align: left;
  justify-content: end;
  padding-top: 1rem;
  padding-left: 0rem;
  font-size: 25px;
}

.nav-links {
  color: rgb(73, 73, 73);
  text-decoration: none;
  padding: 1rem;
  border-radius: 0.8rem;
}

.nav-links-clicked {
  color: white;
  background-color: #3cc6f4;
  text-decoration: none;
}

.nav-links:hover {
  color: white;
  background-color: #3cc6f4;
  text-decoration: none;
}
